@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: #0a1f44;
  --foreground: #171717;
}

@theme {
  --font-head: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --text-primary: #669bff;
  --bg-primary: #63c7b2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer Utilities {
  .clip-your-needful-style {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .userImg {
    @apply bg-[url('../public/userLogo.png')] bg-cover;
  }

  .flex-center {
    @apply flex items-center;
  }

  .carrers {
    @apply bg-[url(../public/Updated/careers.jpg)];
  }

  .support {
    @apply bg-[url(../public/Updated/supports.jpg)];
  }

  .contact {
    @apply bg-[url(../public/Updated/contactImg.jpg)];
  }

  .vision-clip {
    clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
  }

  .mission-clip {
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
  }

  .divider-clip {
    clip-path: polygon(68% 0, 72% 0, 32% 100%, 28% 100%);
  }

  .business {
    @apply bg-[url(../public/office-desk.jpg)];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
